<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>University</h1>
	<a href="/organization/university">Back</a> | 
	<a href="/logout">logout</a> 
					
	
	<table border="1">
		<tr>
			<td>ID</td>
			<td><%= users[0].ID%></td>
		</tr>
		<tr>
			<td>University Name</td>
			<td><%= users[0].Name%></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= users[0].address%></td>			
		</tr>
		<tr>
			<td>Phone Number</td>
			<td><%= users[0].phone%></td>
		</tr>
		
		<tr>
			<td>Adrress</td>
			<td><%= users[0].email%></td>	
		</tr>	
	

	</table>


</body>
</html>