<!DOCTYPE html>
<html>
<head>
	<title>offer page</title>
</head>
<body>
	<h1>SEARCH OFFER</h1>
	<a href="/organization/offer">Back</a> | 
    <a href="/logout">logout</a>
    <p>
         <form method="post">
        <table border="1">
                    <tr>
                            <td>ID:</td>
                            <td><input type="text" name="offerid"></td>
                            
                        </tr>
                        <tr>
                                <td colspan="2">
                                    <center>
                                            <input type="submit" name="search" value="Search">
                                    </center>
                                </td>
                            </tr> 
                    
            </table>
         </form>
            
    </p>
    
	<table border="1">
        
		<tr>
			<td>ID</td>
			<td>Organization User Name</td>
            <td>University</td>
            <td>Program</td>
            <td>Number of Student</td>
            <td>Scholarship</td>
            <td>Application Deadline</td>
			<td>ACTION</td>
		</tr>

	<% for(var i=0; i < users.length; i++){ %>

		<tr>
			<td><%= users[i].ID %></td>
			<td><%= users[i].orName %></td>
            <td><%= users[i].university %></td>
            <td><%= users[i].program %></td>
            <td><%= users[i].number%></td>
            <td><%= users[i].scholarship%></td>
            <td><%= users[i].date %></td>
			<td>
				<a href="/organization/deleteoffer/<%= users[i].ID %>">Delete</a> |				
				<a href="/organization/detailsoffer/<%= users[i].ID %>">Details</a>
			</td>
		</tr>
	<% } %>

	</table>


</body>
</html>